/* Preview Image */
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
/* Avatar */
.navbar .container-avatar,
.publication .container-avatar{
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 50%;
}

.navbar .container-avatar img,
.publication .container-avatar img{
	height: 100%;
}

.publication a{
	text-decoration: none;
}

.publication .container-avatar{
	float: left;
	margin-right: 15px;
}

.publication .data-user{
	font-weight: bold;
	color: #333;
	font-size: 17px;
	line-height: 37px;
}
/* Card publication */
.publication{
	margin-bottom: 50px;
}

.publication-image{
	width: 100%;
	overflow: hidden;
}

.publication-image img{
	width: 100%;
}

.publication .card-body{
	padding: 0px;
}

.publication .nickname{
	color: grey;
}

.publication .description{
	padding: 20px;
}

/* Icon navbar */
.nav-link.icon{
	margin-top: 5px; 
	margin-left: 5px;
	margin-right: 5px;
}

.nav-link.avatar{
	margin-top: 2px; 
	margin-left: 5px;
	margin-right: 5px;
}